# Aircraft Accidents Data Cleaning Pipeline

This notebook goes over the data cleaning process for the aviation data downloaded from the NTSB's website. For ease, you can download the data off my Google Drive [here](https://drive.google.com/drive/folders/1VwJ7GF_Y3WBogRbUY_wYd3ItuJ12cAHk?usp=drive_link). Included in the folder is also a sheet containing all the codes used in the data sheets. In order for the cleaning to work, you need put this notebook in the same folder as the data.

## Imports
The first thing you need to do is import the following packages. If you don't have a package downloaded, you can download it with `pip install [package name]`

In [1]:
import pandas as pd

## Importing the Data
Now you need to import the data from the various excel files. You can do this using the `pandas` function `read_excel`, which will take the data inside an indicated excel file and import it into a Pandas Dataframe. The four files we'll be using are:
1. `"aircraft-accidents.xlsx"`: This file contains information on the physical aircraft involved in an accident or incident
2. `"Findings.xlsx"`: This file contains information on the accident or incident, including the primary cause of the accident and secondary causes
3. `"Flight_Crew.xlsx"`: This file contains information about the flight crew of the aircraft during the crash
4. `"injury.xlsx"`: This file contains information about injuries that occurred during the crash.

In [23]:
aircraft_df = pd.read_excel("aircraft-accidents.xlsx")
findings_df = pd.read_excel("Findings.xlsx")
flight_crew_df = pd.read_excel("Flight_Crew.xlsx")
injury_df = pd.read_excel("injury.xlsx")

Check to make sure everything loaded correctly using the `head` function.

In [24]:
aircraft_df.head()

,ev_id,Aircraft_Key,regis_no,ntsb_no,acft_missing,far_part,flt_plan_filed,flight_plan_activated,damage,acft_fire,...,acft_year,fuel_on_board,commercial_space_flight,unmanned,ifr_equipped_cert,elt_mounted_aircraft,elt_connected_antenna,elt_manufacturer,elt_model,elt_reason_other
0,20080107X00026,1,N8037W,SEA08LA057A,N,091,NONE,NaN,MINR,NONE,...,NaN,NaN,False,False,False,False,False,NaN,NaN,NaN
1,20080107X00026,2,N15EX,SEA08LA057B,N,091,NONE,NaN,SUBS,NONE,...,NaN,NaN,False,False,False,False,False,NaN,NaN,NaN
2,20080107X00027,1,N398J,DFW08LA055,N,091,IFR,Y,NaN,NONE,...,NaN,NaN,False,False,False,False,False,NaN,NaN,NaN
3,20080109X00036,1,N579RM,DFW08CA054,N,091,NONE,N,SUBS,NONE,...,NaN,NaN,False,False,False,False,False,NaN,NaN,NaN
4,20080111X00038,1,CN-RMX,DCA08WA024,N,NUSC,IFR,Y,MINR,NaN,...,NaN,NaN,False,False,False,False,False,NaN,NaN,NaN

In [25]:
findings_df.head()

,ev_id,Aircraft_Key,finding_no,finding_code,finding_description,category_no,subcategory_no,section_no,subsection_no,modifier_no,Cause_Factor,lchg_date,lchg_userid,cm_inPc
0,20080107X00026,1,1,204151045,Personnel issues-Action/decision-Info processi...,2,4,15,10,45,C,2020-09-25 18:05:31,NaN,T
1,20080107X00026,2,1,204151044,Personnel issues-Action/decision-Info processi...,2,4,15,10,44,C,2020-09-25 18:05:31,NaN,T
2,20080107X00027,1,1,303602099,Environmental issues-Conditions/weather/phenom...,3,3,60,20,99,F,2020-09-25 18:04:02,NaN,T
3,20080107X00027,1,2,204151039,Personnel issues-Action/decision-Info processi...,2,4,15,10,39,C,2020-09-25 18:04:02,NaN,T
4,20080109X00036,1,1,303404099,Environmental issues-Conditions/weather/phenom...,3,3,40,40,99,F,2020-09-25 18:05:31,NaN,T

In [26]:
flight_crew_df.head()

,ev_id,Aircraft_Key,crew_no,crew_category,crew_age,crew_sex,crew_city,crew_res_state,crew_res_country,med_certf,...,lchg_userid,seat_occ_row,infl_rest_inst,infl_rest_depl,child_restraint,med_crtf_limit,mr_faa_med_certf,pilot_flying,available_restraint,restraint_used
0,20080107X00026,1,1,PLT,56.0,M,Novato,CA,USA,CL3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN
1,20080107X00026,2,1,PLT,70.0,M,Pioneer,CA,USA,CL3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN
2,20080107X00027,1,1,PLT,59.0,M,Conroe,TX,USA,CL2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN
3,20080109X00036,1,1,PLT,54.0,F,Gonzales,TX,USA,CL3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN
4,20080114X00044,1,1,FLTI,30.0,M,Miami,FL,USA,CL2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN

In [27]:
injury_df.head()

,ev_id,Aircraft_Key,inj_person_category,injury_level,inj_person_count,lchg_date,lchg_userid
0,20080107X00026,1,Flig,FATL,0.0,2020-09-25 18:05:31,NaN
1,20080107X00026,1,Flig,MINR,0.0,2020-09-25 18:05:31,NaN
2,20080107X00026,1,Flig,NONE,1.0,2020-09-25 18:05:31,NaN
3,20080107X00026,1,Flig,SERS,0.0,2020-09-25 18:05:31,NaN
4,20080107X00026,1,Flig,TOTL,0.0,2020-09-25 18:05:31,NaN

Now we need to clean each dataframe and combine them to make one dataframe with all the data.

## Cleaning Aircraft Accidents Data

The first thing we're going to do is drop any columns we aren't going to use in our model. These are:
* `regis_no`: The full tail number of the aircraft(s) involved in the accident/incident.
* `ntsb_no`: The NTSB assigns each accident/incident is assigned a unique case number by the NTSB and is used as a reference in all documents referring to the event. 
* `far_part`: The applicable regulation part (14 CFR) or authority the aircraft was operating under at the time of the accident/incident
* `acft_serial_no`: The full aircraft serial number, as assigned by the manufacturer or certificator.
* `fc_seats`: The number of flight crew seats in the aircraft
* `cc_seats`: The number of cabin crew seats in the aircraft
* `pax_seats`: The number of passenger seats in the aircraft
* `total_seats`: The total number of seats in the aircraft
* `date_last_insp`: The date of the last inspection of the aircraft
* `owner_acft`: The name of the owner of the aircraft
* `owner_street`: The street address of the owner of the aircraft
* `owner_city`: The city that the owner of the aircraft lives in
* `owner_state`: The state that the owner of the aircraft lives in
* `owner_country`: The country that the owner of the aircraft lives in
* `owner_zip`: The zip code of the owner of the aircraft
* `oper_same`: If the operator is the same as the owner of the aircraft, 
* `oper_addr_same`: If the operator address is the same as the owner address
* `oper_street`:The street address of the aircraft operator
* `oper_city`: The city the aircraft operator lives in
* `oper_state`: The state the aircraft operator lives in
* `oper_country`: The country the aircraft operator lives in
* `oper_zip`: The zip code of the aircraft operator
* `oper_sched`: Indicates whether an air carrier operation was scheduled or not
* `oper_dom_int`: Indicates whether it was an domestic or international flight
* `oper_pax_cargo`: Indicates whether the operator is carrying pax/cargo/mail
* `dprt_apt_id`: Departure airport ID
* `dprt_city`: Departure city
* `dprt_state`: Departure state
* `dprt_country`: Departure country
* `dprt_time`: Departure time of the flight
* `dprt_timezn`: Departure timezone of the flight
* `dest_same_local`: Indicate whether the flight was intended to return to the same airport with no intermediate flights in between,
* `dest_apt_id`: Destination airport ID
* `dest_city`: Destination city
* `dest_state`: Destination state
* `dest_country`: Destination country
* `phase_flt_spec`: Specific phase of flight the accident occurred, however, is null for most entries
* `report_to_icao`: Indicate whether a report was sent to the International Civil Aviation Organization (ICAO) 
* `evacuation`: Indicates whether an evacuation occurred, however, is null for most entries 
* `lchg_date`: Date of most recent change to the record 
* `lchg_userid`: User ID of the person who did the most recent change to the record
* `rwy_num`: If the accident occurred on a runway, the runway number
* `elt_reason_other`: Quite frankly, I don't know what this means and it's null for all entries

In [28]:
aircraft_df.drop(["regis_no", 
                  "ntsb_no", 
                  "far_part", 
                  "acft_serial_no", 
                  "fc_seats", 
                  "cc_seats",
                  "pax_seats", 
                  "total_seats", 
                  "date_last_insp",
                  "owner_acft", 
                  "owner_street",
                  "owner_city", 
                  "owner_state", 
                  "owner_country", 
                  "owner_zip",
                  "oper_same",
                  "oper_addr_same",
                  "oper_street", 
                  "oper_city", 
                  "oper_state",
                  "oper_country", 
                  "oper_zip",
                  "oper_sched",
                  "oper_dom_int", 
                  "dprt_apt_id", 
                  "dprt_city", 
                  "dprt_state",
                  "dprt_country",
                  "dprt_time", 
                  "dprt_timezn",
                  "dest_same_local",
                  "dest_apt_id", 
                  "dest_city", 
                  "dest_state", 
                  "dest_country",
                  "oper_pax_cargo", 
                  "phase_flt_spec",
                  "report_to_icao", 
                  "evacuation",
                  "lchg_date", 
                  "lchg_userid",
                  "rwy_num",
                  "elt_reason_other"], axis=1, inplace=True)

## Cleaning Findings Data
There's not much that has to be done to clean the findings data. We're only going to drop 3 columns from this dataframe:
* `lchg_date`: The last time the data as updated
* `lchg_userid`: The userid of whoever last updated the data
* `cm_inPc`: Frankly, I have no idea what this column represents -- I can tell it's most likely `true` or `false` but there's no documentation on it

In [29]:
findings_df.drop(["lchg_date", "lchg_userid", "cm_inPc"], axis=1, inplace=True)

# Cleaning Flight Crew Data

Like the aircraft accidents dataframe, we need to drop quite a few columns from the flight crew data. Most of the columns contain demographical data about the flight crew which isn't relevant to the model. For example, sex is not relevant to the model because aircraft accidents are probably not dependent on sex and this data could unintentionally bias the model.

* `crew_sex`: The legal sex of the flight crew member
* `crew_city`: The city the flight crew member lives in
* `crew_res_state`: The state the flight crew member resides in
* `crew_res_country`: The country the flight crew member resides in
* `crew_rat_endorse`: Pilot Type-Rating Endorsement for the aircraft. This would probably be useful, but is `NULL` for most entries, so we're dropping it
* `seatbelts_used`: This data would also be useful to have, but is `NULL` for most entries 
* `shldr_harn_used`: This data would also be useful to have, but is `NULL` for most entries 
* `crew_tox_perf`: This indicates if a toxicology test was performed, but unfortunately does not note the results, so it's pretty useless for the model
* `seat_occ_pic`: The seat the pilot-in-command was in
* `bfr`: Indicates if the pilot has their current Biennial Flight Review. Another thing that would be useful to have, but is `NULL` for most entries
* `ft_as_of`: Indicates the date the crew member's total flight time was recorded. This could also be useful to have, if we had the flight time for the crew member
* `lchg_date`: The last time the data as updated
* `lchg_userid`: The userid of whoever last updated the data
* `seat_occ_row`: The documentation for this says "Row Number", which is not descriptive enough for me to determine if it's relevant, so I'm dropping it.
* `infl_rest_inst`: Indicates if an inflation restraint is installed, which is useful, but is `NULL` for most entries
* `infl_rest_depl`: Indicates if an inflation restraint was deployed, which is useful, but is `NULL` for most entries
* `child_restraint`: Indicates if a child restraint is installed on the aircraft

In [30]:
flight_crew_df.drop(["crew_sex", 
                     "crew_city", 
                     "crew_res_state",
                     "crew_res_country",
                     "crew_rat_endorse",
                     "seatbelts_used",
                     "shldr_harn_used",
                     "crew_tox_perf",
                     "seat_occ_pic",
                     "bfr",
                     "ft_as_of",
                     "lchg_date",
                     "lchg_userid",
                     "seat_occ_row",
                     "infl_rest_inst",
                     "infl_rest_depl",
                     "child_restraint"], axis=1, inplace=True)

## Cleaning Injury Data
The final dataframe we have to clean is the injury data. Thankfully, there's not much to drop here, just the date the data was last changed and the userid of the person who made the changes. We also need to drop the column `inj_person_count` mainly because the description makes no sense and it's not actually the amount of injured people.

In [31]:
injury_df.drop(["lchg_date", "lchg_userid", "inj_person_count"], axis=1, inplace=True)

## Combining the Dataframes
Now that all the dataframes have been cleaned, we need to combine them so we can run the model on one dataframe. Luckily, each dataframe has a column called `ev_id`, which is the NTSB's id of the accident or incident. Rows with the same `ev_id` refer to the same accident or incident. Thus, in theory, we can link together each sheet through the `ev_id`s and some magic through `Pandas`.

The first thing we need to do is combine the rows with the same event id are in one row in each dataframe. Rows may have the same event id if there was more than one crew member or more than one injury that occured during the accident. However, to complicate things, if an accident involved two or more aircrafts they will have the same event id, but they cannot be grouped together. 

To deal with that complication, we're going to edit the event ids to end with an underscore and the aircraft key. Then, we can drop the aircraft key column and combine the rows with the same event ids.

In [ ]:
# edit ids function
def edit_ids(df):
    """
    Modify the event IDs in the DataFrame so that rows with the same `ev_id` but different
    `aircraft_key` values get unique event IDs.

    Parameters:
        df (pd.DataFrame): The input DataFrame. Must contain `ev_id` and `aircraft_key` columns.

    Returns:
        pd.DataFrame: A DataFrame with updated `ev_id` values.
    """
    # Create the new unique ID by combining `ev_id` and `aircraft_key`
    df['ev_id'] = df['ev_id'].astype(str) + '_' + df['Aircraft_Key'].astype(str)
    return df

In [33]:
# edit ids
aircraft_df = edit_ids(aircraft_df)
findings_df = edit_ids(findings_df)
flight_crew_df = edit_ids(flight_crew_df)
injury_df = edit_ids(injury_df)

# drop aircraft key column
aircraft_df.drop(["Aircraft_Key"], axis=1, inplace=True)
findings_df.drop(["Aircraft_Key"], axis=1, inplace=True)
flight_crew_df.drop(["Aircraft_Key"], axis=1, inplace=True)
injury_df.drop(["Aircraft_Key"], axis=1, inplace=True)

In [34]:
# combine events with the same ID in each data frame

def combine_events(df):
    """
    Combine rows with the same event ID into a single row in a DataFrame.

    Parameters:
        df (pd.DataFrame): The input DataFrame.

    Returns:
        pd.DataFrame: A new DataFrame with one row per unique event ID.
    """
    agg_methods = list

    # Group by the event ID column and aggregate
    combined_df = df.groupby("ev_id").agg(agg_methods).reset_index()
    
    return combined_df

In [35]:
# combine events
aircraft_df = combine_events(aircraft_df)
findings_df = combine_events(findings_df)
flight_crew_df = combine_events(flight_crew_df)
injury_df = combine_events(injury_df)

Now we can combine the dataframes using `Panda`'s `merge` function.

In [ ]:
# Merge the dataframes
df = pd.merge(aircraft_df, findings_df, on='ev_id', how='outer')
df = pd.merge(df, flight_crew_df, on='ev_id', how='outer')
df = pd.merge(df, injury_df, on='ev_id', how='outer')

In [37]:
df.head()

,ev_id,acft_missing,flt_plan_filed,flight_plan_activated,damage,acft_fire,acft_expl,acft_make,acft_model,acft_series,...,crew_inj_level,pc_profession,bfr_date,med_crtf_limit,mr_faa_med_certf,pilot_flying,available_restraint,restraint_used,inj_person_category,injury_level
0,20080107X00026_1,[N],[NONE],[nan],[MINR],[NONE],[NONE],[PIPER],[PA 28-180],[nan],...,[NONE],[No],[2007-07-01 00:00:00],[nan],[nan],[False],[nan],[nan],"[Flig, Flig, Flig, Flig, Flig]","[FATL, MINR, NONE, SERS, TOTL]"
1,20080107X00026_2,[N],[NONE],[nan],[SUBS],[NONE],[NONE],[Barnard/Stancil],[Glastar],[nan],...,[NONE],[No],[2007-07-01 00:00:00],[nan],[nan],[False],[nan],[nan],"[Flig, Flig, Flig, Flig, Flig, Pass, Pass]","[FATL, MINR, NONE, SERS, TOTL, NONE, TOTL]"
2,20080107X00027_1,[N],[IFR],[Y],[nan],[NONE],[NONE],[Pilatus],[PC-12/45],[nan],...,[NONE],[UNK],[2007-02-01 00:00:00],[nan],[nan],[False],[nan],[nan],"[Flig, Flig, Flig, Flig, Flig, Pass, Pass]","[FATL, MINR, NONE, SERS, TOTL, NONE, TOTL]"
3,20080109X00036_1,[N],[NONE],[N],[SUBS],[NONE],[NONE],[Micco Aircraft Company],[MAC-145B],[nan],...,[NONE],[No],[2006-11-01 00:00:00],[nan],[nan],[False],[nan],[nan],"[Flig, Flig, Flig, Flig, Flig]","[FATL, MINR, NONE, SERS, TOTL]"
4,20080111X00038_1,[N],[IFR],[Y],[MINR],[nan],[nan],[Boeing],[737-400],[nan],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Now we can save the dataframe to a csv file so we don't have to run the cleaning code each time we want to run the model

In [39]:
df.to_csv("cleaned_data.csv")